<header>
  <div class = "container">
    <h1 class = "logo">Create New Book</h1>
    <nav>
      <ul>
        <li> <%= link_to "All Books", books_path %>  </li>
        <li> <%= link_to "Home", root_path %> </li>
      </ul>
    </nav>
  </div>
</header>

<h2> Fields for a new book: </h2>
<%= flash[:notice] %>
<%= render 'form', book: @book %>
