<body>
  <header>
      <h1 class = "logo"> New Spell</h1>
      <nav>
        <ul>
          <li> <%= link_to "All Spells", spells_path %> </li>
          <li> <%= link_to "Home", root_path %> </li>
        </ul>
      </nav>
  </header>

  <h2 class = "top"><%= flash[:notice]%></h2>
  <h2 class = "top"> Fields for a new spell: </h2>
  <%= render 'form', spell: @spell %>
</body>
