<h1>Create New</h1>

<p> <%= link_to "All Spells", spells_path %> </p>
<p> <%= link_to "Home", root_path %> </p>

<p><%= flash[:notice]%></p>

<p> Fields for a new spell: </p>
<%= render 'form', spell: @spell %>
