@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Anurati";
  src: url('Anurati-Regular.otf');
}

.home {
  background-image: url('d&d.jpg');
  background-size: cover;
}

h1 {
  font-size: 66px;
}

.home h1 {
  margin-top: 25px;
  margin-bottom: 20px;
}

.home h2 {
  margin: 60px;
}

body {
  text-align: center;
  font-family: "Anurati";
  background-image: url('d&d3.jpg');
  background-size: cover;
  font-weight: 500;
  color: red;
  font-size: 20px;
 }

h2 {
  color: black;
  font-size: 35px;
  text-shadow: 0.8px 0.8px #ff0000;
}

h2 a:link {
  text-decoration: none;
  text-transform: uppercase;
}

h2 a {
  color: black;
}

h2 a:hover {
  color: white;
}

h3 {
  color: black;
  text-shadow: 0.8px 0.8px #ff0000;
}

div {
   margin-top: 2%;
   margin-bottom: 2%;
}

header {
  margin: 0;
  padding: 0.3%;
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-size: 35px;
  color: white;
  margin: 1%;
  margin-left: 5%;
}

nav {
  float:right;
  margin-right: 5%;
}

nav ul {
  margin: 5px;
  padding: 0px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  position: relative;
}

li a {
  color: white;
}

li a:link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

li a:hover {
  color: red;
}

nav a::before {
  content: "";
  display: block;
  background: white;
  height: 5px;
  top: 0%;
  width: 0%;
  transition: all ease-in-out 250ms;
  position: absolute;
}

nav a:hover::before {
  width: 100%;
}

.form {
   margin-left: 30vw;
   margin-right: 30vw;
   margin-top: 2%;
   text-align: left;
   padding-top: 5px;
   font-size: 20px;
 }

 table {
   margin: auto auto;
   margin-top: 7%;
   margin-bottom: 2%;
   border-collapse: collapse;
   min-width: 300px;
 }

 .spell-table td {
   padding: 10px 15px;
 }

 .spell-table th {
   padding: 10px 15px;
 }

 .book-table td {
   padding: 10px 25px;
 }

 .book-table th {
   padding: 10px 25px;
 }

 td, th {
   padding-top: 20px;
   padding-left: 5px;
   padding-right: 10px;
 }

 th {
   font-size: 25px;
 }

 tr {
   text-align: left;
 }

 td a:link {
   text-decoration: none;
   color: black;
   text-shadow: 0.8px 0.8px #ff0000;
 }

 td a:visited {
   text-decoration: none;
   color: black;
   text-shadow: 0.8px 0.8px #ff0000;
 }

 td a:hover {
   color: red;
 }

 button a:link {
   text-decoration: none;
   color: black
 }

 button a:visited {
   text-decoration: none;
   color: black
 }

 button a {
   text-shadow: 0.8px 0.8px #ff0000;
 }

 button a:hover {
   color: red;
 }

 button {
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 16px;
    background-color: white;
 }

 #spell-description {
   color: white;
 }

 .top {
   margin-top: 8%;
 }
