@import "bootstrap-sprockets";
@import "bootstrap";

.home {
  background-image: url('d&d.jpg');
  background-size: cover;
}

.home {
  font-size: 33px;
}

h2 a:link {
  text-decoration: none;
  text-transform: uppercase;
}

h2 a {
  color: black;
}

h2 a:hover {
  color: white;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-image: url('d&d3.jpg');
  background-size: cover;
  font-weight: 500;
  color: red;
  font-size: 20px;
  margin: 0;
 }

 h2 {
   color: black;
   font-size: 25px;
   text-shadow: 0.8px 0.8px #ff0000;
 }

 div {
   margin-top: 2%;
 }

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: black;
  padding: 1.5%;
  margin: 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-size: 35px;
  margin: 3px;
  color: white;
}

nav {
  float: right;
}

nav ul {
  margin: 1px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 15px;
  position: relative;
}

li a:link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

li a:hover {
  color: red;
}

li a {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background: white;
  position: absolute;
  top: 0%;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.form {
   margin-left: 30vw;
   margin-right: 30vw;
   margin-top: 1.5%;
   text-align: left;
   padding-top: 5px;
 }

 .form input {
   size: 50;
 }

 table {
   margin: auto auto;
   margin-top: 3%;
   border-collapse: collapse;
   min-width: 300px;
 }

 .spell-table td {
   padding: 10px 15px;
 }

 .spell-table th {
   padding: 10px 15px;
 }

 .book-table td {
   padding: 10px 25px;
 }

 .book-table th {
   padding: 10px 25px;
 }

 td, th {
   padding-top: 20px;
   padding-left: 5px;
   padding-right: 10px;
 }

 th {
   font-size: 25px;
 }

 tr {
   text-align: left;
 }

 button a:link {
   text-decoration: none;
   color: black
 }

 button a:visited {
   text-decoration: none;
   color: black
 }

 td a:link {
   text-decoration: none;
   color: black;
   text-shadow: 0.8px 0.8px #ff0000;
 }

 td a:visited {
   text-decoration: none;
   color: black;
   text-shadow: 0.8px 0.8px #ff0000;
 }

 td a:hover {
   color: red;
 }

 button a {
   text-shadow: 0.8px 0.8px #ff0000;
 }

 button {
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 8px;
    background-color: white;
 }

 #spell-description {
   color: white;
 }
